In [1]:
import pandas as pd
import numpy as np

In [7]:
df=pd.read_excel('dataset2.xlsx')

In [9]:
df

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25.0,265.1,110.0,45.07,197.4,99.0,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26.0,161.6,123.0,27.47,195.5,103.0,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0.0,243.4,114.0,41.38,121.2,110.0,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0.0,299.4,71.0,50.90,61.9,88.0,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0.0,166.7,113.0,28.34,148.3,122.0,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,No,Yes,36.0,156.2,77.0,26.55,215.5,126.0,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,WV,68,415,No,No,0.0,231.1,57.0,39.29,153.4,55.0,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,RI,28,510,No,No,0.0,180.8,109.0,30.74,288.8,58.0,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,510,Yes,No,0.0,213.8,105.0,36.35,159.6,84.0,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,415,No,Yes,25.0,234.4,113.0,39.85,265.9,82.0,22.60,241.4,77,10.86,13.7,4,3.70,0,False

In [17]:
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25.0,265.1,110.0,45.07,197.4,99.0,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26.0,161.6,123.0,27.47,195.5,103.0,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0.0,243.4,114.0,41.38,121.2,110.0,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0.0,299.4,71.0,50.90,61.9,88.0,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0.0,166.7,113.0,28.34,148.3,122.0,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [13]:
df.isnull().sum()

State                     0
Account length            0
Area code                 0
International plan        8
Voice mail plan           2
Number vmail messages     2
Total day minutes         3
Total day calls           4
Total day charge          1
Total eve minutes         2
Total eve calls           3
Total eve charge          2
Total night minutes       0
Total night calls         0
Total night charge        0
Total intl minutes        0
Total intl calls          0
Total intl charge         0
Customer service calls    0
Churn                     0
dtype: int64

In [29]:
df_cleaned = df.dropna()
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3310 entries, 0 to 3332
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   3310 non-null   object
 1   Account length          3310 non-null   int64
 2   Area code               3310 non-null   int64
 3   International plan      3310 non-null   object
 4   Voice mail plan         3310 non-null   object
 5   Number vmail messages   3310 non-null   float64
 6   Total day minutes       3310 non-null   float64
 7   Total day calls         3310 non-null   float64
 8   Total day charge        3310 non-null   float64
 9   Total eve minutes       3310 non-null   float64
 10  Total eve calls         3310 non-null   float64
 11  Total eve charge        3310 non-null   float64
 12  Total night minutes     3310 non-null   float64
 13  Total night calls       3310 non-null   int64
 14  Total night charge      3310 non-null   float64
 15  Total intl minutes      3310 non-null   float64
 16  Total intl calls        3310 non-null   int64
 17  Total intl charge       3310 non-null   float64
 18  Customer service calls  3310 non-null   int64
 19  Churn                   3310 non-null   bool
dtypes: bool(1), float64(11), int64(5), object(3)
memory usage: 520.4+ KB

In [45]:
df_cleaned = df.dropna(subset=['International plan', 'Voice mail plan','Number vmail messages','Total day minutes','Total day calls' ,'Total day charge', 'Total eve calls','Total eve charge', 'Total eve minutes'])

In [49]:
X = df.drop('Churn', axis=1)
y = df['Churn']

In [51]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print("Preprocessing complete.")

NameError: name 'train_test_split' is not defined

In [56]:
from sklearn.preprocessing import LabelEncoder
binary_features = ['International plan', 'Voice mail plan']
label_encoders = {}

for feature in binary_features:
    le = LabelEncoder()
    df[feature] = le.fit_transform(df[feature])
    label_encoders[feature] = le

In [60]:
from sklearn.preprocessing import StandardScaler

numerical_features = df.select_dtypes(include=['float64', 'int64']).columns
scaler = StandardScaler()
df[numerical_features] = scaler.fit_transform(df[numerical_features])

In [62]:
from sklearn.model_selection 
import train_test_split
X = df.drop('Churn', axis=1)
y = df['Churn']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [64]:
print(X_train.head())
print(y_train.head())

     State  Account length  Area code  International plan  Voice mail plan  \
817     UT        3.564766   1.718817                   0                0
1373    SC        0.174180  -0.523603                   0                0
679     TX       -0.654629  -0.523603                   1                0
56      CO        1.002990  -0.523603                   0                0
1993    IN       -0.378359   1.718817                   0                0

      Number vmail messages  Total day minutes  Total day calls  \
817                  -0.592          -1.546726        -0.419753
1373                 -0.592          -1.243742         0.229345
679                  -0.592           0.783498        -1.118780
56                   -0.592          -0.970138        -0.120169
1993                 -0.592           0.671486        -0.220030

      Total day charge  Total eve minutes  Total eve calls  Total eve charge  \
817          -1.546702          -0.734799        -1.863131         -0.736169
1373         -1.244268          -0.143288         0.496425         -0.144416
679           0.783117           2.484992         0.546628          2.487147
56           -0.970998          -0.413411        -1.913335         -0.413606
1993          0.670784           1.288168        -1.160285          1.289716

      Total night minutes  Total night calls  Total night charge  \
817              1.252376           0.914473            1.252751
1373             0.158761          -0.363275            0.158501
679              0.140963           0.198935            0.140923
56              -1.187987           1.425573           -1.186239
1993             0.259619           0.505594            0.259577

      Total intl minutes  Total intl calls  Total intl charge  \
817            -1.303026          0.617898          -1.306401
1373           -2.198627         -0.194831          -2.195396
679            -0.550721          1.836992          -0.550091
56             -0.801489         -1.007560          -0.802194
1993           -2.055331         -0.601195          -2.049442

      Customer service calls
817                 0.332354
1373                1.852927
679                -0.427932
56                 -0.427932
1993               -1.188218
817     False
1373     True
679      True
56      False
1993    False
Name: Churn, dtype: bool